.search {
    position: revert;
    color: #222;
    /* height: 350px; */
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
    /* opacity: 0.8; */
    position: relative;
    z-index: 999;
    top: 3%;
}

.search.post {
    position: revert;
    color: #222;
    /* height: 350px; */
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
    /* opacity: 0.8; */
    position: relative;
    z-index: 999;
    top: 3%;
    right: -5%;
}

.search .search-icon {
    float: right;
    height: 100%;
    margin: 0 10px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    /* opacity: 0.8; */
}

.search .search-icon.post {
    float: right;
    height: 100%;
    margin: 0 10px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    position: relative;
    /* right: 12%; */
}

.search .search-input {
    float: right;
    width: 30%;
    height: 30px;
    color: #222;
    /* background-color: black; */
    line-height: 30px;
    margin: 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.search .search-input.post {
    float: right;
    width: 15%;
    height: 30px;
    color: #222;
    /* background-color: black; */
    line-height: 30px;
    margin: 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    /* right: 12%; */
    position: relative;
}

.search .search-results {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 30px;
    right: 50px;
    width: 60%;
    max-height: 400px;
    overflow: auto;
    text-align: left;
    border-radius: 5px;
/*    background: #ccc;*/
    background: #0d1d33d6;;
    box-shadow: 0 .3rem .5rem #333;
}

.search .search-results.post {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 30px;
    /* right: 50px; */
    width: 60%;
    max-height: 400px;
    overflow: auto;
    text-align: left;
    border-radius: 5px;
    /* background: #ccc; */
    background: #0d1d33d6;
    box-shadow: 0 0.3rem 0.5rem #333;
    float: right;
    right: 3%;
}

.card {
    max-width: 60rem;
}

.search .search-results .result-item {
    background: #08070294;
    color: #0e07018a;;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.search-icon-2 {
    height: 100%;
    margin: 0 10px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    display: block;
    color: #222;
    right: -30%;
    position: relative;
    float: right;
    top: 4px;
}

.search-icon-2.post {
    float: right;
    height: 100%;
    margin: 0 10px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    display: block;
    color: #222;
    right: -15%;
    position: relative;
    top: 0px;
}


.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 #238551db, 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 #238551, 0 6px 20px 0 rgba(0,0,0,0.19);
}

.result-title{
    color:wheat;
}

.card-content .result-item-title{
    color: black;
    font-weight: bold;
}

.blue-text {
    color: #2196F3 !important;
}

/* 隐藏 WebKit 浏览器滚动条 */
::-webkit-scrollbar {
    width: 0px;
  }